@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin:0;
  background: white;
  height: 100%;
  
}
.container{
  margin:0 auto;
  padding-top: 50px;
  grid-column: 2/3;
  

}
header{
  background: #141414;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr ;
  display: grid;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 5;

}
.navigation {
  
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #c9c9c9;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 80px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  transform: scale(.8);
  transition: 0.5s ease transform;
}

nav a:before {
  border-radius: 2px;
  top: 0;
  left: 55px;
  width: 6px;
  height: 6px;
}

nav a:after {
  border-radius: 1px;
  top: 5px;
  left: 65px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: #92a2b6 ;
}

nav a:nth-child(1):after {
  background-color: #e2e8ec;
}

nav a:nth-child(2):before {
  background-color:  rgb(184, 76, 184) ;
}

nav a:nth-child(2):after {
  background-color:  #ffffff;
}

nav a:nth-child(3):before {
  background-color: #0CBABA;
}

nav a:nth-child(3):after {
  background-color: #fff;
}
nav a:nth-child(4):before {
  background-color: #F33A6A;
}

nav a:nth-child(4):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(3.0);
}

nav a:nth-child(1):hover ~ #indicator {
  left: 10.1%;
  background: linear-gradient(130deg, #92a2b6 , #e2e8ec);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 34.6%;
  background: linear-gradient(130deg, rgb(184, 76, 184), #ffffff);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 59.3%;
  background: linear-gradient(130deg, #0CBABA, #434343);
}
nav a:nth-child(4):hover ~ #indicator {
  left: 85%;
  background: linear-gradient(130deg, #F33A6A, palevioletred);
}









ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}
.word-name{
 margin-left: 20px;
 
}



.first-row {
  margin-right: 155px;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #c9c9c9;
  font-size: 20px;
  justify-self: center;
  padding-right: 40%;
  padding-left: 30%;
  align-self: center;
}



.first-row:hover {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.background-part{
  background: linear-gradient(#09203F , #537895);
  width: 100%;
  height: 900px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  display: grid;
}
.home-title {
  justify-self: center;
  align-self: end;
  font-size: 4.5rem;
  margin:0;
  padding:0;
  color:white;
  font-family: sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 10px;
}
.home-desc{
  font-size: 2rem;
  justify-self: center;
  align-self: start;
  margin:0;
  padding:0;
  font-family: sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 20px;
  color:white;
}
.white-space{
  width: 100%;
  height: 1000px;
  background: white;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.about-page{
  background: linear-gradient(#614385 , #516395);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr;
}
.space-for-text{
  grid-column: 1/ 2;
  grid-row: 2 / 3;
  width:100%;
  height:100%;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr;
}
.ABO{
  margin:0;
  padding:0;
  justify-self: end;
  align-self: end;
  grid-row: 1/2;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
}
.M{
  margin:0;
  padding:0;
  justify-self: end;
  align-self: end;
  grid-row: 2/3;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
}
.UT{
  color: white;
  margin:0;
  padding:0;
  justify-self: start;
  align-self: end;
  grid-row: 1/2;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
}
.ABOUT-FULL{
  color: white;
  margin:0;
  padding:0;
  justify-self: start;
  align-self: end;
  grid-row: 1/2;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
  display: none;
}
.ME-FULL{
  color: white;
  margin:0;
  padding:0;
  justify-self: start;
  align-self: end;
  grid-row: 2/3;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
  display: none;
}
.E{
  color: white;
  margin:0;
  padding:0;
  justify-self: start;
  align-self: end;
  grid-row: 2/3;
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 400px;
}
.about-desc{
  margin:0;
  padding:0;
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  grid-row: 2/3;
  padding-left:10px;
  padding-right:10px;
  line-height: 1.6;
}

.about-desc-mobile{
  grid-row: 3/4;
  display: none;
  margin:0;
  padding:0;
  padding-left:10px;
  padding-right:10px;
  line-height: 1.6;
  color: white;
  font-family: sans-serif;
}

.box-inside{
  margin:0;
  padding:0;
  grid-row: 3/4;
  height: 355px;
  width: 700px;
  border: black solid 3px;
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}



.fade-in{
  animation: fadeIn 7.5s infinite;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  0% { opacity: 0; }
}

.space-for-self{
  grid-column: 3/ 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.myself{
  width: 275px;
  height: 275px;
  grid-row: 2/3;
  place-self: center;
  border: #141414 solid 4px;
  border-radius: 40%;
}
.myself:hover{
  transform: rotate(20deg);
}

.work-screen{
  margin: 0;
  padding: 0;
  background: linear-gradient(#434343,#000000);
  width: 100%;
  height: 950px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  display: grid;
  padding-top: 70px;
}
#Work{
  list-style: none;
}
.sub-for-work{
  padding: 0;
  margin: 0;
  color:#0CBABA;
  font-size: 90px;
  font-family: sans-serif;
  align-self: end;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  text-transform: uppercase;
  z-index: 1;
  display: none;
}

.typing-ani{
  padding: 0;
  margin: 0;
  color:white;
  font-size: 90px;
  font-family: sans-serif;
  align-self: end;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
  text-transform: uppercase;
  z-index: 1;
}
.auto-type{
  color: #0CBABA;
  z-index: 1;
}
.python-icon{
  font-size: 140px;
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  color: #fff;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  z-index: 1;
}
.python-icon:hover{
  -webkit-filter:
    drop-shadow(2px -2px 13px #0CBABA)
    drop-shadow(-2px -2px 13px #0CBABA )
    drop-shadow(0px 0px 17px #380036);
  filter:
  drop-shadow(2px -2px 13px #0CBABA)
  drop-shadow(-2px -2px 13px #0CBABA )
  drop-shadow(0px 0px 17px #380036);
  cursor: pointer;
  padding-bottom:5px;
}
.python-icon:active{
  opacity:.8;
}
.html-icon{
  font-size: 140px;
  margin: 0;
  padding: 0;
  margin-right: 90px;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  align-self: start;
  color: #fff;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  z-index: 1;
  transition: 0.3s;
}
.css-icon{
  font-size: 140px;
  margin: 0;
  padding: 0;
  margin-left: 90px;
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
  align-self: start;
  color: #fff;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  z-index: 1;
  transition: 0.3s;
}
.html-icon:hover{
  -webkit-filter:
    drop-shadow(2px -2px 13px #0CBABA)
    drop-shadow(-2px -2px 13px #0CBABA )
    drop-shadow(0px 0px 17px #380036);
  filter:
  drop-shadow(2px -2px 13px #0CBABA)
  drop-shadow(-2px -2px 13px #0CBABA )
  drop-shadow(0px 0px 17px #380036);
  cursor: pointer;
  padding-top:5px;
}
.css-icon:hover{
  -webkit-filter:
    drop-shadow(2px -2px 13px #0CBABA)
    drop-shadow(-2px -2px 13px #0CBABA )
    drop-shadow(0px 0px 17px #380036);
  filter:
  drop-shadow(2px -2px 13px #0CBABA)
  drop-shadow(-2px -2px 13px #0CBABA )
  drop-shadow(0px 0px 17px #380036);
  cursor: pointer;
  padding-top:5px;
}
.html-icon:active{
  opacity:.8;
}
.css-icon:active{
  opacity:.8;
}
.rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
  margin:0;
  padding: 0;
  grid-row: 2/4;
  grid-column: 2/3;
  justify-self: center;
  align-self: start;
  height: 500px;
  width: 600px;
  border-radius: 10px;
}
.rectangle-under0{
  z-index: 1;
}
.rectangle-under{
  z-index: 0;
}
.rectangle-under1{
  z-index: 0;
}
.rectangle-under2{
  z-index: 0;
}



.python-icon:hover + .rectangle-under {
  z-index: 2;
}
.html-icon:hover + .rectangle-under1{
  z-index: 2;
}
.css-icon:hover + .rectangle-under2{
  z-index: 2;
}

.background-under{
  grid-row: 1/4;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 900px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  display: grid;
}
.python-icon-top-left,.html-icon-top-left,.css-icon-top-left{
  font-size: 75px;
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: start;
  align-self: end;
  padding-left:100px;
}
.box-python{
  margin: 0;
  padding: 0;
  z-index: 0;
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 180px;
  padding-top: 170px
}
.python-icon-top-left{
  z-index: 0;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  opacity: 0;
  transition: opacity 2s; 
}
.box-python:hover + .python-icon-top-left{
  opacity: 1;
  z-index: 1;
}

.box-html{
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: end;
  align-self: start;
  width: 50%;
  height: 260px;
}
.html-icon-top-left{
  z-index: 0;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  opacity: 0;
  transition: opacity 2s; 
}
.box-html:hover + .html-icon-top-left{
  opacity: 1;
  z-index: 1;
}
.box-css{
  margin: 0;
  padding: 0;
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
  align-self: start;
  width: 50%;
  height: 260px;
}
.css-icon-top-left{
  z-index: 0;
  -webkit-filter:
    drop-shadow(2px -2px 3px #0CBABA)
    drop-shadow(-2px -2px 3px #0CBABA )
    drop-shadow(0px 0px 7px #380036);
  filter:
  drop-shadow(2px -2px 3px #0CBABA)
  drop-shadow(-2px -2px 3px #0CBABA )
  drop-shadow(0px 0px 7px #380036);
  opacity: 0;
  transition: opacity 2s; 
}
.box-css:hover + .css-icon-top-left {
  opacity: 1;
  z-index: 1;
}
.contact-screen{
  width: 100%;
  height: 900px;
  background: linear-gradient(#E8DBFC,#F8F9D2);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 9fr 1fr;
}



.left-box{
  background-color: black;
  grid-column: 1/2;
  width: 90%;
  height:600px;
  align-self: center;
  justify-self: end;
}

.message-place{
  grid-column: 2/3;
}
.form {
  background: rgb(0, 0, 0);
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 3130px;
  left: 1300px;
  right: 0;
  position: absolute;
  border-top: 5px solid #F33A6A;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 320px;
}


.pageTitle{
  font-size: 2em;
  font-weight: bold;
  color:#F33A6A;
}
.secondaryTitle{
  color: white;
}

.name {
  background-color: #ebebeb;
  color: black;
}
.name:hover {
  border-bottom: 5px solid #F33A6A;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #F33A6A;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #F33A6A;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #F33A6A;
  font-size: 20px;
}

.submit:hover {
  
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid white;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    transform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }



}
.outline-box{
  height:550px;
  width: 990px;
  border: 5px white solid;
  position: absolute;
  left: 137px;
  top: 3140px;
}
.box-of-location{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.Iam {
  font: normal 40px/50px Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  grid-row: 2/3;
  text-align: center;
  justify-self: start;
  font-size: 45px;
  text-transform: uppercase;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 2.6em;
  margin-left: .6em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: -43px;
  left: 670px;
}
.Iam .innerIam {
  display: inline-block;
  color: #F33A6A;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay: 3s;
   -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
     -o-animation-delay: 3s;
        animation-delay: 3s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}


.form-me{
  text-shadow: .5px .5px white;
}
@media only screen and (max-width: 1880px) and (min-width: 1783px) {
  .Iam{
    font-size: 39px;
  }
  .form{
    left: 1209px;
  }
}
@media only screen and (max-width: 1782px) and (min-width: 1620px) {
  .left-box{
    display: none;
  }
  .form{
    top: 330%;
    right: 0;
    left:27%;
    max-width: 700px;
  }
}
@media only screen and (max-width: 1619px) and (min-width: 1441px) {
  .left-box{
    display: none;
  }
  .form{
    top: 330%;
    right: 0;
    left:22%;
    max-width: 700px;
  }
}


@media only screen and (max-width: 1440px) and (min-width: 1201px) {
.first-row{
  margin-right: -10px;
}
nav a{
  padding: 10px 66px;
}
.background-part{
  grid-template-columns: 1fr 5fr 1fr;
}
.left-box{
  display: none;
}
.form{
  top: 545%;
  right: 0;
  left:23%;
  max-width: 580px;
}

}

@media only screen and (max-width: 1200px) and (min-width: 1075px) {
  .ABO{
    font-size: 80px;
  }
  .UT{
    font-size: 80px;
  }
  .M{
    font-size: 80px;
  }
  .E{
    font-size: 80px;
  }
  .box-inside{
    width: 636px;
  }
  .myself{
    width: 190px;
    height: 190px;
    margin-left: 10px;
    margin-right:10px
  }
  .typing-ani{
    font-size: 86px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    width: 400px;
    height: 400px;
  }
  .background-part{
    grid-template-columns: 1fr 5fr 1fr;
  }
  .first-row{
    display: none;
  }
  .left-box{
    display: none;
  }
  .form{
    top: 545%;
    right: 0;
    left:26%;
    max-width: 560px
  }
}

@media only screen and (max-width: 1074px) and (min-width: 1001px) {
  .ABO{
    font-size: 70px;
  }
  .UT{
    font-size: 70px;
  }
  .M{
    font-size: 70px;
  }
  .E{
    font-size: 70px;
  }
  .box-inside{
    width: 636px;
  }
  .myself{
    width: 170px;
    height: 170px;
    margin-left: 10px;
    margin-right:10px
  }
  .typing-ani{
    font-size: 86px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    width: 400px;
    height: 400px;
  }
  .background-part{
    grid-template-columns: 1fr 5fr 1fr;
  }
  .first-row{
    display: none;
  }
  .left-box{
    display: none;
  }
  .form{
    top: 545%;
    right: 0;
    left:21%;
  }
}



@media only screen and (max-width: 1000px) and (min-width: 951px) {
  .ABO{
    font-size: 58px;
  }
  .UT{
    font-size: 58px;
  }
  .M{
    font-size: 58px;
  }
  .E{
    font-size: 58px;
  }
  .box-inside{
    width: 636px;
  }
  .myself{
    width: 170px;
    height: 170px;
  }
  .typing-ani{
    font-size: 86px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    width: 400px;
    height: 400px;
  }
  .background-part{
    grid-template-columns: 1fr 5fr 1fr;
  }
  .first-row{
    display: none;
  }
  .left-box{
    display: none;
  }
  .form{
    top: 545%;
    right: 0;
    left:21%;
  }
}


@media only screen and (max-width: 950px) and (min-width: 801px) {
  .first-row{
    display: none;
  }
  .background-part{
    grid-template-columns: 1fr 6fr 1fr;
  }
  .ABO{
    font-size: 60px;
  }
  .UT{
    font-size: 60px;
  }
  .M{
    font-size: 60px;
  }
  .E{
    font-size: 60px;
  }
  .space-for-self{
    display: none;
  }
  .typing-ani{
    font-size: 86px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    width: 400px;
    height: 400px;
  }
  .left-box{
    display: none;
  }
  .form{
    top: 330%;
    right: 0;
    left:21%;
  }
  
}
@media only screen and (max-width: 900px) and (min-width: 801px) {
  nav a{
    padding: 10px 54px;
  }
  .first-row{
    display: none;
  }
  .background-part{
    grid-template-columns: 1fr 13fr 1fr;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 650px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    font-size: 76px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 141%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:21%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
    padding-left: 10%;
  }
  .home-title{
    grid-column: 1/4;
  }
  
}



@media only screen and (max-width: 800px) and (min-width: 751px) {
  nav a{
    padding: 10px 54px;
  }
  .first-row{
    display: none;
  }
  .background-part{
    grid-template-columns: 1fr 13fr 1fr;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 650px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    font-size: 76px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 141%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:21%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
    padding-left: 10%;
  }
  .home-title{
    grid-column: 1/4;
  }
}




@media only screen and (max-width: 750px) and (min-width: 701px) {
  nav a{
    padding: 10px 54px;
  }
  .first-row{
    display: none;
  }
  .background-part{
    grid-template-columns: 1fr 13fr 1fr;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 550px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    font-size: 66px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 141%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:16%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
  .home-title{
    grid-column: 1/4;
  }
  
  
}



@media only screen and (max-width: 700px) and (min-width: 651px) {
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: -37%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 550px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    font-size: 66px;
    grid-column: 1/3;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 141%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:13%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
  .home-title{
    grid-column: 1/4;
  }
  
}





@media only screen and (max-width: 650px) {
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: -37%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 450px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 110%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:7%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
  .home-title{
    grid-column: 1/4;
  }
}




@media only screen and (max-width: 600px) {
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: -37%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 450px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 110%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:7%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
  .home-title{
    grid-column: 1/4;
  }
}





@media only screen and (max-width: 550px) {

  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: -13%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 450px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 110%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:7%;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
  
}







@media only screen and (max-width: 500px){
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 420px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 95%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:0;
  }
  .python-icon{
    grid-column: 1/3;
  }
  .home-desc{
    grid-column: 1/4;
    padding: 5%;
  }
}



@media only screen and (max-width:450px) and (min-width:391px) {
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 72px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 360px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 75%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:0;
  }
  .python-icon{
    grid-column: 1/3;
  }
}




@media only screen and (max-width:390px) {
  .navigation{
    display: none;
  }
  .first-row{
    width: 100%;
    margin-right: 17%;
    padding-left: 0;
    padding-right: 0;
  }
  .ABO{
    display: none;
  }
  .UT{
    display: none;
  }
  .M{
    display: none;
  }
  .E{
    display: none;
  }
  .ABOUT-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 54px;
  }
  .ME-FULL{
    display: inline-block;
    margin-left: 50px;
    font-size: 54px;
  }
  .myself{
    display: none;
  }
  .about-desc{
    display: none;
  }
  .box-inside{
    display:none
  }
  .about-desc-mobile{
    display: inline-block;
    width: 340px;
    text-align: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 17px;
  }
  .typing-ani{
    display: none;
  }
  .sub-for-work{
    display: inline-block;
    margin-left: 30px;
    font-size: 80px;
  }
  .rectangle-under0,.rectangle-under,.rectangle-under1,.rectangle-under2{
    display: none;
  }
  outline-box{
    display: none;
  }
  .box-of-location{
    display: none;
  }
  .left-box{
    display: none;
  }
  .css-icon{
    margin-left: 70%;
  }
  .html-icon{
    margin-right: 50%;
  }
  .form{
    top: 330%;
    right: 0;
    left:0;
  }
  .home-title{
    font-size: 54px;
  }
  .home-desc{
    font-size: 17px;
  }
}